<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lettuce - Getting Started</title>
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">

    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/img/apple-touch-icon-180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/apple-touch-icon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/apple-touch-icon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/apple-touch-icon-76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="/assets/img/touch/touch-icon-192x192.png">

    <meta name="msapplication-TileImage" content="/assets/img/assets/img/apple-touch-icon-144.png">

    <link rel="icon" sizes="192x192" href="/assets/img/touch/touch-icon-192x192.png">
    <link rel="icon" sizes="128x128" href="/assets/img/touch/touch-icon-128x128.png">
    <link href="/v2/assets/css/lettuce.css" media="all" rel="stylesheet"/>
    <link href="/v2/assets/css/docs.css" media="all" rel="stylesheet"/>
</head>
<body>

<div class="application-container">
    <div id="sidebar"></div>
    <div class="application-main-content website">
        <div class="application-content">
            <header id="header">
                <a href="#" data-toggle=".application-container" id="sidebar-toggle">
                    <span class="fa fa-bars"></span>
                </a>
                <div class="heading">
                    <h1 id="logo"><a href="/"><strong>Lettuce</strong></a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="hide"><a href="/">Home</a></li>
                            <li class="active"><a href="/docs/getting-started.html">Getting Started</a></li>
                            <li><a href="/docs/">Documentation</a></li>
                            <li><a href="https://github.com/lettuce-io/lettuce-core" class="fa fa-github-alt"
                                   title="Github">&nbsp;</a></li>
                            <li><a href="https://gitter.im/lettuce-io/Lobby" class="fa fa-commenting"
                                   title="Join the community chat on Gitter">&nbsp;</a></li>
                            <li><a href="https://groups.google.com/d/forum/lettuce-redis-client-users"
                                   class="fa fa-group"
                                   title="Browse the Mailing List">&nbsp;</a></li>
                            <li><a href="https://twitter.com/LettuceDriver" class="fa fa-twitter"
                                   title="Follow us on Twitter">&nbsp;</a></li>
                            <li><a href="http://stackoverflow.com/questions/tagged/lettuce" class="fa fa-stack-overflow"
                                   title="Ask questions on Stack Overflow">&nbsp;</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="page-summary">
                <div class="page-summary-content">
                    <div class="page-summary-wrap">
                        <h1>Getting Started</h1>
                        <div class="details">
                            <span id="author" class="author">Get started with Lettuce <span th:text="${version}"></span></span><br>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main" class="book">

                <section id="applications" class="getting-started">

                    <div class="markdown-body">
                        <div>
                            <p>You can get started with Lettuce in various ways:</p>
                        </div>
                        <div>
                            <h2 id="get-it">
                                1. Get it
                            </h2>
                            <div>
                                <div>
                                    <h3 id="maven">
                                        For Maven users:
                                    </h3>
                                    <div>
                                        <p>Add these lines to file pom.xml:</p>
                                    </div>
                                    <div>
                                        <div class="code-box-copy">
                                            <button class="code-box-copy__btn"
                                                    data-clipboard-target="#example-maven"
                                                    title="Copy"></button>
                                            <pre class=" language-markup"><code class=" language-markup"
                                                                                data-language="markup"
                                                                                id="example-maven"><span
                                                    class="token tag"><span class="token tag"><span
                                                    class="token punctuation">&lt;</span><span class="token tag-id"
                                                                                            >dependency</span></span><span
                                                    class="token punctuation">&gt;</span></span><span
                                                    class="token lf">
</span>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span
                                                    class="token tag-id">groupId</span></span><span
                                                    class="token punctuation">&gt;</span></span>io.lettuce<span
                                                    class="token tag"><span class="token tag"><span
                                                    class="token punctuation">&lt;/</span><span class="token tag-id"
                                                                                             >groupId</span></span><span
                                                    class="token punctuation">&gt;</span></span><span
                                                    class="token lf">
</span>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span
                                                    class="token tag-id"
                                                    >artifactId</span></span><span
                                                    class="token punctuation">&gt;</span></span>lettuce-core<span
                                                    class="token tag"><span class="token tag"><span
                                                    class="token punctuation">&lt;/</span><span class="token tag-id"
                                                                                             >artifactId</span></span><span
                                                    class="token punctuation">&gt;</span></span><span
                                                    class="token lf">
</span>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span
                                                    class="token tag-id"
                                                    >version</span></span><span
                                                    class="token punctuation">&gt;</span></span><span
                                                    th:text="${version}"></span><span
                                                    class="token tag"><span class="token tag"><span
                                                    class="token punctuation">&lt;/</span><span class="token tag-id"
                                                                                             >version</span></span><span
                                                    class="token punctuation">&gt;</span></span><span
                                                    class="token lf">
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span
                                                    class="token tag-id"
                                                    >dependency</span></span><span
                                                    class="token punctuation">&gt;</span></span></code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 id="ivy">For Ivy users:
                                    </h3>
                                    <div>
                                        <p>Add these lines to file ivy.xml:</p>
                                    </div>
                                    <div>
                                        <div class="code-box-copy">
                                            <button class="code-box-copy__btn"
                                                    data-clipboard-target="#example-ivy"
                                                    title="Copy"></button>
                                            <pre class=" language-markup"><code class=" language-markup"
                                                                                data-language="markup" id="example-ivy"><span
                                                    class="token tag"><span class="token tag"><span
                                                    class="token punctuation">&lt;</span><span class="token tag-id"
                                                                                           >ivy-module</span></span><span
                                                    class="token punctuation">&gt;</span></span><span class="token lf">
</span>  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span
                                                    class="token tag-id"
                                                    >dependencies</span></span><span
                                                    class="token punctuation">&gt;</span></span><span class="token lf">
</span>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span><span
                                                    class="token tag-id"
                                                    >dependency</span></span> <span class="token attr-name"
                                                                                             >org</span><span
                                                    class="token attr-value"><span
                                                    class="token punctuation">=</span><span
                                                    class="token punctuation">"</span>io.lettuce<span
                                                    class="token punctuation">"</span></span> <span class="token attr-name"
                                                                                                 >name</span><span
                                                    class="token attr-value"><span
                                                    class="token punctuation">=</span><span
                                                    class="token punctuation">"</span>lettuce-core<span
                                                    class="token punctuation">"</span></span> <span class="token attr-name"
                                                                                                 >rev</span><span
                                                    class="token attr-value"><span
                                                    class="token punctuation">=</span><span
                                                    class="token punctuation">"</span><span th:text="${version}"></span><span
                                                    class="token punctuation">"</span></span><span
                                                    class="token punctuation">/&gt;</span></span><span class="token lf">
</span>  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span
                                                    class="token tag-id"
                                                    >dependencies</span></span><span
                                                    class="token punctuation">&gt;</span></span><span class="token lf">
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span><span
                                                    class="token tag-id"
                                                    >ivy-module</span></span><span
                                                    class="token punctuation">&gt;</span></span></code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 id="gradle">For Gradle users:
                                </h3>
                                <div>
                                    <p>Add these lines to file build.gradle:</p>
                                </div>
                                <div class="code-box-copy">
                                    <button class="code-box-copy__btn"
                                            data-clipboard-target="#example-gradle"
                                            title="Copy"></button>
                                    <pre class=" language-groovy"><code class=" language-groovy" data-language="groovy"
                                                                        id="example-gradle">dependencies <span
                                            class="token punctuation">{</span><span class="token lf">
</span>  compile <span class="token string">'io.lettuce:lettuce-core:<span th:text="${version}">'</span><span
                                            class="token lf">
</span><span class="token punctuation">}</span></code></pre>
                                </div>
                            </div>
                            <div>
                                <h3 id="user-content-getting-started.plain-java">
                                    Plain Java
                                </h3>
                                <div>
                                    <p>Download the latest binary package from
                                        <a href="https://github.com/lettuce-io/lettuce-core/releases">https://github.com/lettuce-io/lettuce-core/releases</a>
                                        and extract the archive.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 id="user-content-getting-started.start-coding">
                            2. Start coding
                        </h2>
                        <div>
                            <div>
                                <p>So easy! No more boring routines, we can start.</p>
                            </div>
                            <div>
                                <p>Import required classes:</p>
                            </div>
                            <div>
                                <div>
                                    <div class="code-box-copy">
                                    <pre class=" language-java"><code class=" language-java" data-language="java"><span
                                            class="token keyword">import</span> io<span
                                            class="token punctuation">.</span>lettuce<span
                                            class="token punctuation">.</span>core<span
                                            class="token punctuation">.</span>*<span class="token punctuation">;</span></code></pre>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>and now, write your code:</p>
                            </div>
                            <div class="code-box-copy">
                                <button class="code-box-copy__btn"
                                        data-clipboard-target="#example-java"
                                        title="Copy"></button>
                                <pre class=" language-java"><code class=" language-java" data-language="java"
                                                                  id="example-java">RedisClient redisClient <span
                                        class="token operator">=</span> RedisClient<span
                                        class="token punctuation">.</span><span class="token function">create<span
                                        class="token punctuation">(</span></span><span class="token string">"<a
                                        class="token url-link" href="redis://password">redis://password</a>@localhost:6379/0"</span><span
                                        class="token punctuation">)</span><span class="token punctuation">;</span><span
                                        class="token lf">
</span>StatefulRedisConnection<span class="token operator">&lt;</span>String<span class="token punctuation">,</span> String&gt; connection <span
                                        class="token operator">=</span> redisClient<span
                                        class="token punctuation">.</span><span class="token function">connect<span
                                        class="token punctuation">(</span></span><span
                                        class="token punctuation">)</span><span class="token punctuation">;</span><span
                                        class="token lf">
</span>RedisCommands<span class="token operator">&lt;</span>String<span class="token punctuation">,</span> String&gt; syncCommands <span
                                        class="token operator">=</span> connection<span
                                        class="token punctuation">.</span><span class="token function">sync<span
                                        class="token punctuation">(</span></span><span
                                        class="token punctuation">)</span><span class="token punctuation">;</span><span
                                        class="token lf">
</span><span class="token lf">
</span>syncCommands<span class="token punctuation">.</span><span class="token function">set<span
                                        class="token punctuation">(</span></span><span class="token string">"key"</span><span
                                        class="token punctuation">,</span> <span
                                        class="token string">"Hello, Redis!"</span><span
                                        class="token punctuation">)</span><span class="token punctuation">;</span><span
                                        class="token lf">
</span><span class="token lf">
</span>connection<span class="token punctuation">.</span><span class="token function">close<span
                                        class="token punctuation">(</span></span><span
                                        class="token punctuation">)</span><span class="token punctuation">;</span><span
                                        class="token lf">
</span>redisClient<span class="token punctuation">.</span><span class="token function">shutdown<span
                                        class="token punctuation">(</span></span><span
                                        class="token punctuation">)</span><span
                                        class="token punctuation">;</span></code></pre>
                            </div>
                            <div>
                                <p>Done!</p>
                            </div>
                            <div>
                                <p>Do you want to see working examples?</p>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToRedis.java'}">Standalone
                                                Redis</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToRedisSSL.java'}">Standalone
                                                Redis with SSL</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToRedisUsingRedisSentinel.java'}">Redis
                                                Sentinel</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToRedisCluster.java'}">Redis
                                                Cluster</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToElastiCacheMaster.java'}">Connecting
                                                to a ElastiCache Master</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples/ConnectToMasterSlaveUsingElastiCacheCluster.java'}">Connecting
                                                to ElastiCache with Master/Replica</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               th:href="@{'https://github.com/lettuce-io/lettuce-core/blob/' + ${version} + '/src/test/java/io/lettuce/examples//ConnectToRedisClusterSSL.java'}">Connecting
                                                to Azure Redis Cluster</a></p>
                                    </li>
                                    <li>
                                        <p>
                                            <a target="_blank"
                                               href="https://docs.spring.io/spring-data/redis/docs/current/reference/html/#redis:connectors:lettuce">Lettuce
                                                with Spring</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
        </div>
        <footer id="footer">
            <div class="footer-content">
                <div class="row">
                    <nav>
                        <ul>
                            <li class="heading">Documentation</li>
                            <li><a href="/lettuce-3/release/api/">Lettuce 3.x</a></li>
                            <li><a href="/lettuce-4/release/api/">Lettuce 4.x</a></li>
                            <li><a href="/core/release/api/">Lettuce 5.x</a></li>
                            <li><a href="/core/release/reference/">Lettuce 5.x Reference</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li class="heading">Resources</li>
                            <li><a href="https://redis.io/">Redis</a></li>
                            <li><a href="https://projectreactor.io/">Project Reactor</a></li>
                            <li><a href="https://spring.io/guides">Spring Guides</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li class="heading">Community</li>
                            <li><a href="https://github.com/lettuce-io/lettuce-core">Github</a></li>
                            <li><a href="https://twitter.com/LettuceDriver">Twitter</a></li>
                            <li><a href="https://gitter.im/lettuce-io/Lobby">Discussion on Gitter</a></li>
                            <li><a href="https://groups.google.com/d/forum/lettuce-redis-client-users">Google
                                Group</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-content-text">
                <span class="licence">Lettuce is licensed under the Apache Software License 2.</span>
                © 2013-2019 <a href="/">Lettuce</a>
            </div>
        </footer>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/v2/assets/js/app.js"></script>
<script src="/v2/assets/js/clipboard.min.js"></script>
<script src="/v2/assets/js/code-box-copy.js"></script>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(["setCookieDomain", "*.lettuce.io"]);
    _paq.push(['setDomains', ['*.lettuce.io', 'lettuce.io']]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//piwik.paluch.biz/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '6']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();

    $('.code-box-copy').codeBoxCopy();
</script>
<noscript><p><img src="//piwik.paluch.biz/piwik.php?idsite=6&rec=1" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
